{% extends "pages/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
  <div style="width:800px; margin:0 auto;">
    <img class="displayed" src="{% static '/pages/images/BNKLogo.jpg' %}"  alt="My image">
  </div>
  <div class="center">
    <h4>
      <p>This is a site for managing and viewing the participants and activities of the Bougyo No Kan Dojo</p>
    </h4>
    <p>For more information visit our <a href="https://www.facebook.com/BougyoNoKanDojo" target="_blank">Facebook page</a></p>
    <p>See videos of our students and instructors on <a href="https://www.youtube.com/channel/UCJlHLzMBxwCBPpshJaijMdw/videos" target="_blank">Youtube</a></p>
  </div>
{% endblock %}
